*{
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
/* 清除浮动 */
.clear::before,
.clear::after{
    display: table;
    content:''
}
.clear::after{
    clear: both;
}
/* 盒子模型设置 */